<html>
<head>
    <title>The Data Sync Manager</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <canvas id="myChart" width="400" height="400">
        <script>
            var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{{ data.labels | safe }}],
                datasets: [{
                    label: "Floats",
                    data: [
                        {{ data.floats }}
                    ],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Floats Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'String'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        }
);
        </script>
    </canvas>
    <canvas id="myChart_int" width="400" height="400">
    <script>
    var ctx = document.getElementById("myChart_int").getContext('2d');

    var myChart_int = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{{ data.labels | safe }}],
                datasets: [{
                    label: "Integers",
                    data: [
                        {{ data.integers }}
                    ],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Integers Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'String'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        }
);
    </script>
    </canvas>

<div style="padding-top: 10px; font-size: 12pt; font-family: Arial; text-align: center; width: 100%;">Copyright &copy; 2017-2019 BEGOSoft Inc. All rights reserved.</div>
</body>
</html>
